{% extends "layout.html" %}
{% block content %}
<style>
    .para{
        width:1600px;
        height:1000px;
        padding-left: 0px;
        margin-left: 0px;
        border-radius:5px;
    }
    .text-font{
        font-family: "Times New Roman", Times, serif;
    }
    .removeMargin{
        padding-left: 0px !IMPORTANT;
        margin-left: 0px  !IMPORTANT;

    }
</style>
<body class="removeMargin">
    <div class="para">
        <h1 class="text-font">Welcome to K.R.E.P!</h1>
            <strong>
                <p>This is Keith's Real Estate Predictor project built on Flask.</p>
                <p>The purpose of this project is the be able to find a line of best fit and predict house prices based on a certain SQFT using machine learning <br>
                and web scraping. 
                </p>
                <p>To use it, go to the 'Search' page and enter a zip code.</p>
            </strong>
    </div>
</body>
{% endblock content %}
